[data-theme="light"]{
    --bg-color: #f2f9ff;
    --bg-secondary-color: #dceaf5;
    --hd-color: #191b1f; 
    --font-color: #6e8ca0;
    --catagory-hd-color: #334856;
    --border-color: #c8d1d3;
    --btn-delete: #d95454;
    --btn-add: #87bcbf;
    --input-color: #466686;
    --settings-bg: #dceaf5;
}
[data-theme="dark"]{
    --bg-color: #0c0f15;
    --bg-secondary-color: #eceff0;
    --hd-color: #c0e4fb;
    --font-color: rgb(199, 194, 194);
    --catagory-hd-color: #b3c9e4;
    --border-color: #212731;
    --btn-delete: #d95454;
    --btn-add: #87bcbf;
    --input-color: #466686;
    --settings-bg: #0e1319;
}
* {
    transition: background .2s ease-in-out, color .4s ease-in-out, border .4s ease-in-out;
}
summary::-webkit-details-marker {
    display: none; }

summary:focus {
    outline: none;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.hd-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.filter-img {
    filter: contrast(1.2) saturate(1.2) brightness(1);
}
.footer-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.footer-btn {
    width: 50px;
    height: 50px;
}
.settings-height {
    height: calc(100vh - 53px);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

