[data-theme="light"]{
    --bg-color: #fff;
    --bg-secondary-color: #eceff0;
    --hd-color: #191b1f; 
    --font-color: #6e8ca0;
    --catagory-hd-color: #334856;
    --border-color: #c8d1d3;
    --btn-delete: #d95454;
    --btn-add: #87bcbf;
}
[data-theme="dark"]{
    --bg-color: #191b1f;
    --bg-secondary-color: #eceff0;
    --hd-color: rgb(250, 241, 241);
    --font-color: rgb(199, 194, 194);
    --catagory-hd-color: #334856;
    --border-color: #f5f5f5;
    --btn-delete: #d95454;
    --btn-add: #87bcbf;
}
summary::-webkit-details-marker {
    display: none; }

summary:focus {
    outline: none;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.filter-img {
    filter: contrast(1.2) saturate(1.2) brightness(1);
}
.footer-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.footer-btn {
    width: 50px;
    height: 50px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

