[data-theme="light"]{
    --bg-color: #f2f9ff;
    --bg-secondary-color: #dceaf5;
    --hd-color: #191b1f; 
    --font-color: #6e8ca0;
    --catagory-hd-color: #334856;
    --border-color: #c8d1d3;
    --btn-delete: #d95454;
    --btn-add: #87bcbf;
    --input-color: #466686;
    --settings-bg: #dceaf5;
}
[data-theme="dark"]{
    --bg-color: #0c0f15;
    --bg-secondary-color: #eceff0;
    --hd-color: #c0e4fb;
    --font-color: rgb(199, 194, 194);
    --catagory-hd-color: #b3c9e4;
    --border-color: #212731;
    --btn-delete: #d95454;
    --btn-add: #87bcbf;
    --input-color: #466686;
    --settings-bg: #f1f8ff;
}
* {
    transition: background .2s ease-in-out, color .4s ease-in-out, border .4s ease-in-out;
    scroll-behavior: smooth;
}
body {
  overscroll-behavior-y: contain
}
summary::-webkit-details-marker {
    display: none; }

summary:focus {
    outline: none;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.hd-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.filter-img {
    filter: contrast(1.2) saturate(1.2) brightness(1);
}
.footer-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.footer-btn {
    width: 50px;
    height: 50px;
}
.settings-height {
    height: calc(100vh - 53px);
}
.min-text {
    min-width: 20px;
    width: fit-content;
}
.tgl {
    display: none;
  }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
  }
  .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
  }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 3.6em;
    height: 1.49em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 40%;
    height: 100%;
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 60%;
  }
  
  .tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .tgl-light:checked + .tgl-btn {
    background: #87bcbf;
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;

